<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather Forecast</title>
</head>
<body>
<form action="/forecast/submit" method="post">
    <label for="locationOption">Locations</label>
    <select id="locationOption" name="selectedLocation">
        <!--/*@thymesVar id="locationsOptions" type="com.sonalake.meetup.service.web.dto.ComboOption"*/-->
        <!--/*@thymesVar id="value" type="com.sonalake.meetup.service.web.dto.ComboOption.value"*/-->
        <!--/*@thymesVar id="text" type="com.sonalake.meetup.service.web.dto.ComboOption.text"*/-->
        <option th:each="option : ${locationsOptions}" th:value="${option.value}" th:text="${option.text}"></option>
    </select>
    <input type="submit" value="Forecast">
</form>
<p><!--/*@thymesVar id="selectedLocation" type="string"*/-->
    <strong th:text="${selectedLocation}"></strong></p>
</body>
</html>