<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather Service</title>
    <link rel="stylesheet" th:href="style.css">
    <link rel="icon" th:href="sonalake.png" />
</head>
<body>

<!-- Top panel -->
<div class="header">
    <!-- Logo&Service -->
    <div class="logo-section">
        <a href="/forecast">
            <img th:src="sonalake.png" alt="logo">
        </a>
        <div class="logo-label-wrapper">
            <span class="logo-label">Weather Service</span>
            <span class="service-tagline">by Spring cloud</span>
        </div>
    </div>

    <!-- Location selection -->
    <div class="controls-section">
        <form action="/forecast/submit" method="post">
            <label for="locationOption"></label>
            <select id="locationOption" name="selectedLocation" class="comboBox">
                <!--/*@thymesVar id="locationsOptions" type="com.sonalake.meetup.service.web.dto.ComboOption"*/-->
                <!--/*@thymesVar id="value" type="string"*/-->
                <!--/*@thymesVar id="text" type="string"*/-->
                <!--/*@thymesVar id="selectedLocation" type="string"*/-->
                <option th:each="option : ${locationsOptions}"
                        th:text="${option.text}"
                        th:value="${option.value}"
                        th:selected="${option.value == selectedLocation}"></option>
            </select>
            <input type="submit" value="Forecast" class="button">
        </form>
    </div>

</div>

<!--/*@thymesVar id="showWeatherDetails" type="boolean"*/-->
<div th:if="${showWeatherDetails}" class="card-wrapper">
    <p><!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
        <label th:text="${weatherDto.name}"></label>
    </p>
    <div class="card rounded-corner">
        <div class="card-text">
            <p class="card-text-item no-mp">
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <span th:text="${weatherDto.displayTime}"></span>
            </p>
            <div class="image-row">
                <p class="no-mp">
                    <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                    <img th:src="${weatherDto.iconUrl}" alt="weather-image">
                </p>
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <div th:if="${weatherDto.isMock}" class="mock-label">Mock</div>
            </div>
            <p class="card-text-big color-temperature no-mp">
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <span th:text="${weatherDto.main.temp.intValue}"></span>&deg;C
            </p>
            <p class="card-text-small color-temperature no-mp">
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <span>feels like </span>
                <span th:text="${weatherDto.main.feels_like.intValue}"></span>&deg;C
            </p>
            <p class="card-text-big color-main no-mp">
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <span th:text="${weatherDto.displayWeather.main}"></span>
            </p>
            <p class="card-text-small color-main no-mp">
                <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                <span th:text="${weatherDto.displayWeather.description}"></span>
            </p>
            <div class="card-info rounded-corner">
                <p class="top-padding">
                    <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                    <span th:text="${weatherDto.main.pressure}" class="card-text-item gray"></span> hPa<br/>
                    <span class="card-text-small gray">pressure</span>
                </p>
                <p>
                    <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                    <span th:text="${weatherDto.main.humidity}" class="card-text-item gray"></span>%<br/>
                    <span class="card-text-small gray">humidity</span>
                </p>
                <p>
                    <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                    <span th:text="${weatherDto.visibility}" class="card-text-item gray"></span> m<br/>
                    <span class="card-text-small gray">visibility</span>
                </p>
                <p class="bottom-padding">
                    <!--/*@thymesVar id="weatherDto" type="com.sonalake.meetup.service.web.dto.OpenWeatherDto"*/-->
                    <span th:text="${weatherDto.wind.speed.intValue}" class="card-text-item gray"></span> m/s<br/>
                    <span class="card-text-small gray">wind</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>