body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    position: relative;
    background: url('sun.png') no-repeat left 128px bottom -298px;
    background-size: 490px;
}

.logo-section {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo-section img {
    height: 50px;
    width: 50px;
}

.logo-label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo-label {
    font-size: 27px;
    font-weight: bold;
    margin-left: 15px;
    white-space: nowrap;
}

.service-tagline {
    font-size: 11px;
    text-align: right;
    display: block;
}

.controls-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.comboBox {
    font-size: 100%;
    color: #3b87ff;
    margin-right: 15px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.comboBox option, .comboBox::selection {
    color: black;
}

.button {
    font-size: 100%;
    background-color: #3b87ff;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: #fff;
    height: 40px;
    padding: 0 25px;
    cursor: pointer;
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper label {
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
}

.card {
    width: fit-content;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px;
}

.card-text {
    text-align: center;
    margin: 0 20px;
    min-width: 200px;
}

.card-text-big {
    font-weight: 700;
    font-size: 3.125rem;
}

.card-text-small {
    font-size: 12px;
}

.card-text-item {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-info {
    background-color: #80808012;
}

.image-row {
    position: relative;
}

.mock-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    font-size: 12px;
}

.color-temperature {
    color: #A61E20;
}

.color-main {
    color: #023687;
}

.no-mp {
    margin: 0;
    padding: 0;
}

.gray {
    color: dimgray;
}

.rounded-corner {
    border-radius: 10px;
}

.top-padding {
    padding-top: 5px;
}

.bottom-padding {
    padding-bottom: 5px;
}

.empty-item {
    color: #f6f6f6;
    background-color: #f6f6f6;
}

.empty-item-white {
    color: white;
    background-color: white;
}

.rounded-corner {
    border-radius: 10px;
}